<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <form method="post" style="..." th:object="${menu}">
            <div class="from-group">
                <label th:for="name">Name</label>
                <input class="from-control" th:field="*{name}" />
                <span th:erros="*{name}" class="error"></span>
            </div>

            <input type="submit" value="Create Menu" />

        </form>

    </body>
</html>